.interaction {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;

  .form {
    width: 80%;

    .input {
      font-size: 1.5rem;
      width: 100%;

      &::placeholder {
        color: white;
      }
    }

    .counter {
      margin: 2rem 0;
    }
  }

  .result {
    width: 100%;
    min-height: 20rem;
    justify-content: space-between;

    .word {
      font-size: 2rem;
      letter-spacing: 0.2rem;
      font-weight: 600;
      font-style: italic;
    }

    .morsecode {

      justify-content: center;
      display: flex;
      flex-wrap: wrap;

      .sign {
        padding: 0.5rem;
        text-align: center;
      }

      .button {
        margin-top: 1rem;
      }
    }
  }

  .error {
    min-width: 500px;

    .text {
      margin-bottom: 2rem;
    }
  }
}
