<main class="interaction">
  <img src="assets/background.png" class="img" (click)="attractor()">
  <form class="form" (ngSubmit)="onSubmit(word)" #form="ngForm">
    <input type="text" placeholder="type your word here..." class="input" required name="word" [(ngModel)]="word"
      autocomplete="off" maxlength="20">
    <span class="counter"> You have used {{word ? word.length : 0 }} out of 20 letters </span>
    <button class="button" type="submit" [disabled]="!form.valid"
      [ngClass]="{'disabled': !form.valid}">translate</button>
  </form>
  <section class="error" *ngIf="isError">
    <p class="text">{{errorMsg}}</p>
    <button type="button" (click)="attractor()" class="button">Go back to attractor</button>
  </section>
</main>
