.interaction {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;

  .form {
    width: 80%;

    .input {
      margin-bottom: 4rem;
      font-size: 1.5rem;
      width: 100%;

      &::placeholder {
        color: white;
      }
    }
  }

  .error {
    min-width: 500px;

    .text {
      margin-bottom: 2rem;
    }

  }
}
