
.interaction {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .error {
        min-width: 500px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .text {
            margin-bottom: 2rem;
        }

        .button {
            padding: 1rem 2rem;
            outline: none;
            border: 2px solid white;
            border-radius: 0.5rem;
            background: transparent;
            color: white;
        }
     }
}