/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
}

section,
form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
button {
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid white;
  border-radius: 0.5rem;
  background: transparent;
  color: white;
  letter-spacing: 0.1rem;

  &.disabled {
    cursor: not-allowed;
  }
}

/* set up background as images not as bg-img css property ->  smooth route animations  */
.background {
  width: 100%;
  height: 100%;
}
